</main>

<footer class="footer">
    <div class="footer-conteudo container">
      <div class="footer-links">
        <h3 class="font-1-s font-2-m-b"> <a href="/contato"> Contato </a> </h3>
        <ul>
          <li><a class="font-1-s font-2-m-b" href="">mundopet@email.com</a></li>
          <li><a class="font-1-s font-2-m-b" href="">(11)9999-9147</a></li>
        </ul>
      </div>

      <div>
        <div class="footer-redes">
          <p class="font-1-s">Siga o MundoPet nas redes sociais</p>
          <ul>
            <li><img src="/images/facebook.png" alt=""></li>
            <li><img src="/images/instagram.png" alt=""></li>
            <li><img src="/images/youtube.png" alt=""></li>
            <li><img src="/images/twiter.png" alt=""></li>
          </ul>
          <a class="footer-aplicativo" href="#"><img src="imagesimg/aplicativos.png" alt=""></a>
        </div>
      </div>
    </div>

    <div class="container">
      <p class="font-1-s font-2-m-b footer-direitos">MundoPet - Todos os direitos reservados © 2022</p>
    </div>
</footer>
  
 <!-- SCRIPT - BOOTSTRAP -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

 <!-- SCRIPT -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
  </body>
</html>