<html>
  <footer class="footer">
    <div class="footer-conteudo container">
      <div class="footer-links">
        <h3 class="font-2-xs font-2-m-b">Produtos</h3>
        <ul>
          <li><a class="font-2-xs font-2-m-b" href="">link 1</a></li>
          <li><a class="font-2-xs font-2-m-b" href="">link 2</a></li>
          <li><a class="font-2-xs font-2-m-b" href="">link 3</a></li>
          <li><a class="font-2-xs font-2-m-b" href="">link 4</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h3 class="font-2-xs font-2-m-b">Serviços</h3>
        <ul>
          <li><a class="font-2-xs font-2-m-b" href="">link 1</a></li>
          <li><a class="font-2-xs font-2-m-b" href="">link 2</a></li>
          <li><a class="font-2-xs font-2-m-b" href="">link 3</a></li>
          <li><a class="font-2-xs font-2-m-b" href="">link 4</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h3 class="font-2-xs font-2-m-b">Contatos</h3>
        <ul>
          <li><a class="font-2-xs font-2-m-b" href="">link 1</a></li>
          <li><a class="font-2-xs font-2-m-b" href="">link 2</a></li>
          <li><a class="font-2-xs font-2-m-b" href="">link 3</a></li>
          <li><a class="font-2-xs font-2-m-b" href="">link 4</a></li>
        </ul>
      </div>

      <div>
        <div class="footer-redes">
          <h3 class="font-2-xs font-2-m-b">Siga o MundoPet nas redes sociais</h3>
          <ul>
            <li><a href="#"><img src="images/facebook.png" alt=""></a></li>
            <li><a href="#"><img src="images/instagram.png" alt=""></a></li>
            <li><a href="#"><img src="images/youtube.png" alt=""></a></li>
            <li><a href="#"><img src="images/twiter.png" alt=""></a></li>
          </ul>
          <p class="font-2-xs font-2-m-b">Baixe nosso aplicativo</p>
          <a class="footer-aplicativo" href="#"><img src="imagesimg/aplicativos.png" alt=""></a>
        </div>
      </div>
    </div>
  </footer>
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
  <script src="javascripts/main.js"></script>
  </body>
</html>