</main>

<footer class="footer">
    <div class="footer-conteudo container">
      <div class="footer-links">
        <h3 class="font-1-s font-2-m-b">Produtos</h3>
        <ul>
          <li><a class="font-1-s font-2-m-b" href="/cachorro">Cachorro</a></li>
          <li><a class="font-1-s font-2-m-b" href="">Gatos</a></li>
          <li><a class="font-1-s font-2-m-b" href="">Peixes</a></li>
          <li><a class="font-1-s font-2-m-b" href="">Pássaros</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h3 class="font-1-s font-2-m-b">Serviços</h3>
        <ul>
          <li><a class="font-1-s font-2-m-b" href="">Dog Walker</a></li>
          <li><a class="font-1-s font-2-m-b" href="">Hospedagem</a></li>
          <li><a class="font-1-s font-2-m-b" href="">Pet Sitter</a></li>
          <li><a class="font-1-s font-2-m-b" href="">Banho e Tosa</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h3 class="font-1-s font-2-m-b">Contatos</h3>
        <ul>
          <li><a class="font-1-s font-2-m-b" href="">mundopet@email.com</a></li>
          <li><a class="font-1-s font-2-m-b" href="">(11)9999-9147</a></li>
        </ul>
      </div>

      <div>
        <div class="footer-redes">
          <h3 class="font-1-s font-2-m-b">Siga o MundoPet nas redes sociais</h3>
          <ul>
            <li><a href="#"><img src="/images/facebook.png" alt=""></a></li>
            <li><a href="#"><img src="/images/instagram.png" alt=""></a></li>
            <li><a href="#"><img src="/images/youtube.png" alt=""></a></li>
            <li><a href="#"><img src="/images/twiter.png" alt=""></a></li>
          </ul>
          <p class="font-1-s font-2-m-b">Baixe nosso aplicativo</p>
          <a class="footer-aplicativo" href="#"><img src="imagesimg/aplicativos.png" alt=""></a>
        </div>
      </div>
    </div>
</footer>
  
 <!-- SCRIPT - BOOTSTRAP -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

 <!-- SCRIPT -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
  <script src="/javascripts/funcoes.js"></script>
  </body>
</html>