<nav class="navbar navbar-expand-lg bg-light bg-menu">
  <div class="container-fluid container container-nav-mobile">
    <a class="navbar-brand" href="/"> <img src="/images/logo.svg" alt="Logo Mundo Pet"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <form class="d-flex" role="search">
        <input class="input-mobile form-control ms-auto form-busca-pet font-1-s" type="search" placeholder="Busque algo para o seu pet" aria-label="Search">
        <button class="btn-mobile btn font-1-s font-2-m-b btn-bg" type="submit">Pesquisar</button>
      </form>
      <ul class="navbar-nav ms-2 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

        <% if(!locals.login.id_usuario) { %> 
   
          <li class="nav-item">
          <a class="nav-clicado nav-link font-1-s font-2-m-b nav-menu_texto__submenu" aria-current="page"
            href="/login">Login</a>
        </li>
        <% } else { %> 
          <% if(login.admin === 1) { %> 
            <li class="nav-item">
              <a class="nav-clicado nav-link font-1-s font-2-m-b nav-menu_texto__submenu" aria-current="page"
                href="/admin">Admin</a>
            </li>
          <% } %> 
          <li class="nav-item">
            <a class="nav-clicado nav-link font-1-s font-2-m-b nav-menu_texto__submenu" aria-current="page"
              href="/minhaconta">Minha Conta</a>
        <% } %> 

        <% if(!locals.login.id_usuario) { %> 
        <li class="nav-item">
          <a class="nav-clicado nav-link font-1-s font-2-m-b nav-menu_texto__submenu" href="/cadastro">Cadastre-se</a>
        </li>
        <% } else { %> 
          <li class="nav-item">
            <a class="nav-clicado nav-link font-1-s font-2-m-b nav-menu_texto__submenu" aria-current="page"
              href="/logout">Logout</a>
        <% } %> 

        <li class="nav-item">
          <a class=" nav-clicado nav-link font-1-s font-2-m-b nav-menu_texto__submenu" aria-current="page"
            href="/carrinho">Carrinho</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-clicado nav-link dropdown-toggle font-1-s font-2-m-b nav-menu_texto__submenu" href="/admin/categorias"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu bg-menu">
            <% for (categoria of categorias) { %>
              <li class="font-1-s font-2-m-b nav-menu_texto__submenu"><a href="/produtos/<%= categoria.link %> ">
                  <%= categoria.nome %>
                </a>
                <% } %>
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</nav>