<% 
    const categorias = [
      {
        nome: 'Cachorro',
        link: 'cachorro'
      },
      {
        nome: 'Gato',
        link: 'gato'
      },
      {
        nome: 'Peixe',
        link: 'peixe'
      },
      {
        nome: 'Pássaro',
        link: 'passaro'
      },
      {
        nome: 'Réptil',
        link: 'reptil'
      }
    ]

%>  
  <nav class="nav-menu">
    <div class="nav-menu--caixa container">
      <a href="/"><img class="logo" src="images/logo.svg" alt="Logo MundoPet"></a>

      <div class="nav-menu--icones">

        <img src="images/login.svg" alt="" class="imagem-menu">
        <div class="nav-menu--texto">
          <h3 class="font-2-xs">Bem vindo</h3>
          <a class="font-1-xs" href="#">Entre ou cadastre-se</a>
        </div>

        <img src="images/carrinho.svg" alt="">
        <div class="nav-menu--texto">
          <h3 class="font-2-xs">Carrinho</h3>
          <a class="font-1-xs" href="#">0 item</a>
        </div>
      </div>
    </div>
  </nav>


  <main>
    <section class="sub-menu">
      <div class="container">
        <ul>
          <% for (categoria of categorias) { %> 
            <li class="font-1-s font-2-m-b"><a href="/<%= categoria.link %> "><%= categoria.nome %> </a>
          <% } %> 
          <!-- <li class="font-1-s font-2-m-b"><a href="/cachorro">Cachorro</a></li>
          <li class="font-1-s font-2-m-b"><a href="#">Gato</a></li>
          <li class="font-1-s font-2-m-b"><a href="#">Peixes</a></li>
          <li class="font-1-s font-2-m-b"><a href="#">Pássaros</a></li> -->
          <!-- <li class="font-1-s font-2-m-b"><a href="#">Dog Walker</a></li>
          <li class="font-1-s font-2-m-b"><a href="/blog">Blog</a></li> -->
        </ul>
      </div>
    </section>