<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MundoPet | Home</title>
  <link rel="shortcut icon" href="images/logo.svg" type="image/x-icon">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  
  <!-- SLIDE -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css"/>

  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <nav class="nav-menu">
    <div class="nav-menu--caixa container">
      <a href="/"><img class="logo" src="images/logo.svg" alt="Logo MundoPet"></a>

      <div class="nav-menu--icones">

        <img src="images/login.svg" alt="" class="imagem-menu">
        <div class="nav-menu--texto">
          <h3 class="font-2-xs">Bem vindo</h3>
          <a class="font-1-xs" href="#">Entre ou cadastre-se</a>
        </div>

        <img src="images/carrinho.svg" alt="">
        <div class="nav-menu--texto">
          <h3 class="font-2-xs">Carrinho</h3>
          <a class="font-1-xs" href="#">0 item</a>
        </div>
      </div>
    </div>
  </nav>


  <main>
    <section class="sub-menu">
      <div class="container">
        <ul>
          <li class="font-2-xs font-2-m-b"><a href="#">Assinatura</a></li>
          <li class="font-2-xs font-2-m-b"><a href="#">Amigo</a></li>
          <li class="font-2-xs font-2-m-b"><a href="#">Espaço Pet</a></li>
          <li class="font-2-xs font-2-m-b"><a href="#">Retirar na Loja</a></li>
          <li class="font-2-xs font-2-m-b"><a href="#">Mundo Pet já</a></li>
          <li class="font-2-xs font-2-m-b"><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </section>