.lojas {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  flex-wrap: wrap;
  
  margin-top: 8rem;
}

.lojas-conteudo h2 {
  margin-bottom: 1rem;
  color: var(--primary-color-subtitle);
}

.lojas-conteudo p {
  text-align: justify;
  max-width: 700px;
  color: var(--primary-color-subtitle);
}