.promocoes {
  display: flex;
  margin-top: 2rem;
}

.promocoes-container {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;

  align-items: center;
  gap: 2rem;
}

.promocoes-img {
  width: 20%;
}