.sub-menu {
  background-color: var(--second-color);
}

.sub-menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;   
}

.sub-menu li {
  color: white;
}

.sub-menu a {
  padding: 1rem;
}

.sub-menu a:hover {
  color: var(--second-color-background);
}
