.vantagens {
  display: flex;
  justify-content: space-around;
  gap: 2rem;

  flex-wrap: wrap;

  margin-top: 6rem;
}

.vantagens-icones { 
  display: flex;
  align-items: center;
}

.vantagens-icones img{
  margin-right: 0.5rem;
}

@media (max-width: 450px) {
  .vantagens {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .vantagens-icones img {
    width: 20px;
  }

  .vantagens-icones p {
    font-size: 0.75rem;
  }
}