<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container-form">
    <section aria-label="Formulário">
      <fieldset class="conta-contato">
        <h2 class="font-1-xl">Adicione uma nova categoria</h2>
          <form class="form" action="">
            <div class="form-info font-2-m-b font-1-m-b">
              <label for="nome">Nome:</label>
              <input type="text" name="nome" id="nome" placeholder="Nome">
            </div>
            <button class="botao-contato font-1-m-b">Incluir</button>
        </form>
      </fieldset>
    </section>
  </main>

<%- include('partials/footer') %>