<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container-form">
  <ul>
    <li><a href="admin/categorias">Categorias</a></li>
    <li><a href="admin/marcas">Marcas</a></li>
    <li><a href="admin/produtos">Produtos</a></li>
    <li><a href="admin/usuarios">Usuários</a></li>
  </ul>
  

<%- include('partials/footer') %>