<%- include('partials/head') %>
<%- include('partials/header') %>
<section class="banner-primario">
  <div class="banner-caixa">
    <img src="images/saiba-tudo-blog.png" alt="">
  </div>
</section>

<section class="blog">
  <div class="container">
    <h2 class="font-1-xl">ÚLTIMAS DO BLOG</h2>
    <div class="noticias">
      <div>
      <h3 class="font-1-m-b">Qual a melhor guia para cachorro?</h3>
      <p class="font-2-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, tempora. Sapiente tenetur, nesciunt voluptatibus libero maxime totam delectus reprehenderit eveniet, distinctio, rem dolor quibusdam! Nostrum dolor sequi et facere minima?</p>
      </div>
      <img src="images/blog-img1 1.png" alt="Foto de cachorros brincando em um parque">
    </div>

    <span class="noticias-divisor"></span>

    <div class="noticias">
      <div>
      <h3 class="font-1-m-b">Qual a melhor guia para cachorro?</h3>
      <p class="font-2-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, tempora. Sapiente tenetur, nesciunt voluptatibus libero maxime totam delectus reprehenderit eveniet, distinctio, rem dolor quibusdam! Nostrum dolor sequi et facere minima?</p>
      </div>
      <img src="images/blog-img2.png" alt="Foto de cachorros brincando em um parque">
    </div>

    <span class="noticias-divisor"></span>

    <div class="noticias">
      <div>
      <h3 class="font-1-m-b">Qual a melhor guia para cachorro?</h3>
      <p class="font-2-s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, tempora. Sapiente tenetur, nesciunt voluptatibus libero maxime totam delectus reprehenderit eveniet, distinctio, rem dolor quibusdam! Nostrum dolor sequi et facere minima?</p>
      </div>
      <img src="images/blog-img3.png" alt="Foto de cachorros brincando em um parque">
    </div>

    <span class="noticias-divisor"></span>

    <button class="botao-noticias botao-secundario-laranja">Últimas notícias</button>

  </div>
</section>
<%- include('partials/footer') %>