<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container-form">
  <section aria-label="Formulário">
    <fieldset class="conta-formulario">
      <h2 class="font-1-xl">Crie sua conta</h2>
        <form class="form formulario-cadastro" action="" method="POST">
          <div class="form-info font-2-m-b font-1-m-b">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" placeholder="Nome" required>
          </div>
          <div class="form-info font-2-m-b font-1-m-b">
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome" required>
          </div>
          <div class="form-info font-2-m-b font-1-m-b">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="you@email.com" required>
          </div>
          <div class="form-info font-2-m-b font-1-m-b">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" placeholder="Senha" required>
          </div>
          <button class="botao-formulario font-1-m-b">Criar conta</button>
      </form>
    </fieldset>
  </section>
</main>

<%- include('partials/footer') %>