<%- include('partials/head') %>
<%- include('partials/header') %> 

<section class="container">
  <h2>Carrinho</h2>
    <div class="produto-carrinho">
      <img src= "/images/imagemDefault.svg  " alt="">
      <div class="produto-detalhe">
        <h2> Nome do Produto </h2>
        <p> DH é divertido </p>
      </div>
      <div>
        <p> R$ 100</p>
      </div>
    </div>
</section>

<%- include('partials/footer') %>