<%- include('partials/head') %>
<%- include('partials/header') %> 

<section class="carrinho-container container">
  <div>
    <h2 class="titulo-carrinho font-2-m"> Confira o seu carrinho: </h2>

    <span id="listaCarrinho"></span>
    <span id="mensagem"></span>
  </div>
          <div>
            <section class="carrinho-valor-total">
              <h2 class="margens font-2-m" id="valorTotal"></h2>
              <button class="botao-comprar margens font-2-m"> Finalizar compra </button>
              <a href="/"><button class="botao-secundario margens font-2-m"> Comprar mais produtos </button></a>
            </section>
          </div>
</section>

    <script>listarCarrinho()</script>
    <%- include('partials/footer') %>