<%- include('partials/head') %>
<%- include('partials/header') %> 

<section class="container">
  <h2>Carrinho</h2>
    <div class="produto-carrinho">
      <img src= "/images/imagemDefault.svg  " alt="">
      <div class="produto-detalhe">
        <h2> Nome do produto </h2>
        <p> DH é divertido </p>
      </div>
      <div class="produto-qtd">
        <div class="produto-valor">
        <!-- <img style = "background-color: red" class="icones-descricao" src="/images/excluir.png" width="17px" alt="excluir"><img src="/images/editar-texto.png" width="17px" alt="editar"> -->
        <span> - </span><a> Quantidade </a><span> + </span>
        </div>
        <p> Preço </p>
      </div>
    </div>
</section>

<%- include('partials/footer') %>