<%- include('partials/head') %>
<%- include('partials/header') %> 

<section class="carrinho-container">
  <div>
    <h2 class="titulo-carrinho font-2-m"> Confira o seu carrinho: </h2>
    <article class="card">
      <div class="produto-carrinho">
        <!-- <img src= "/images/imagemDefault.svg  " alt=""> -->
          <div class="produto-detalhe">
            <h2 class="produto-nome font-2-m"> Ração Golden Especial para cães adultos frango e carne 15Kg </h2>
          </div>
          <div class="produto-qtd">
            <div class="produto-valor">
              
              <button class="botao-carrinho"> <span class="material-symbols-outlined">
                remove
                </span> 
              </button> 
                <a class="carrinho-qtd"> 1 </a>
              <button class="botao-carrinho"><span class="material-symbols-outlined">
                add
                </span>
              </button>
            </div>
            <p> R$ 300,00 </p>
          </div>
          <div class="lixeira-carrinho">
          <img src="/images/excluir.png" width="17px" alt="excluir">
          </div>
      </div>
    </article>
  </div>
  <div>
    <article class="carrinho-valor-total">
      <h2 class="margens">Valor Total R$ 300,00</h2>
      <button class="botao-comprar margens"> Finalizar compra </button>
      <button class="botao-secundario margens"> Comprar mais produtos </button>
    </article>
  </div>
</section>

<%- include('partials/footer') %>