<%- include('partials/head') %>
  <%- include('partials/header') %>

    <main>
      <section class="banner-primario">
        <div class="banner-caixa">
          <img src="./assets/img/banner -1.png" alt="">
        </div>
      </section>
      <section class="section-form">
        <div class="container">

          <h2 class="title">Fale Conosco!</h2>
          <p class="description">Envie sua mensagem</p>

          <form class="form" action="/mundoPet/" method="get" class="cta_form">
            <input type="hidden" name="versao" value="">
            <div class="input-group">
              <label for="name"> Nome: </label>
              <input type="text" required name="nome" id="nome" placeholder="nome">
            </div>
            <div class="input-group">
              <label for="email"> e-mail:</label>
              <input type="email" required name="email" id="email" placeholder="email@mail.com">
            </div>
            <div class="input-group">
              <label for="phone"> Telefone:</label>
              <input type="tel" required name="phone" id="phone" placeholder="+55 11 99999-9999">
            </div>
            <textarea id="text" name="text" placeholder="Digite Aqui" rows="5" cols="33"></textarea>
            <div class="submit-group">
              <button title="enviar">Enviar</button>
            </div>
          </form>

        </div>
      </section>
    </main>

    <%- include('partials/footer') %>