<%- include('partials/head') %>
<%- include('partials/header') %>
<section class="banner-primario">
    <div class="banner-caixa">
      <img src="images/banner -1.png" alt="">
    </div>
  </section>
  <section class="flex-container flex-container-- col skills_cta primary">
      <h2 class="skills_title cta_title">FALE CONOSCO!</h2>
      <p class="cta_description">Envie sua mensagem</p>
<form action="/mundoPet/" method="get" class="cta_form"></form>
<input type="hidden" name="versao" value="">
<div class="input-group">
    <label for="name">nome </label>
    <input type="text" required name="nome" id="nome" placeholder="nome">
</div>
<div class="input-group">
  <label for="email"> email</label>
  <input type="email" required name="email" id="email" placeholder="email@mail.com">
</div>
<div class="input-group">
  <label for="phone"> telefone</label>
  <input type="tel" required name="phone" id="phone" placeholder="+55 11 99999-9999">
</div>
<textarea id="text" name="text" rows="5" cols="33">
</textarea> 
<div class="submit-group">
  <button title="Enviar">Enviar</button>
</div>
<%- include('partials/footer') %>