<%- include('partials/head') %>
<%- include('partials/header') %>

<section class="sub-menu-dogwalker">
  <div class="containermenu">
    <ul>
      <li class="font-2-xs font-2-m-b"><a href="#">Marketplace de Serviços</a></li>
      <li class="font-2-xs font-2-m-b"><a href="#">Banho e Tosa</a></li>
      <li class="font-2-xs font-2-m-b"><a href="#">Dog Walker</a></li>
      <li class="font-2-xs font-2-m-b"><a href="#">Pet Sitter</a></li>
      <li class="font-2-xs font-2-m-b"><a href="#">Hospedagem</a></li>
      <li class="font-2-xs font-2-m-b"><a href="#">Day Care</a></li>
    </ul>
  </div>
</section>

<section class="banner-dogwalker">
  <img src="images/dogwalkerjpg.png" alt="Passeio DogWalker">
</section>

<section class="beneficios">
  <div class="container">
    <h2 class="font-1-xl">Dog Walker</h2>
    <div class="beneficios-dogwalker">
      <div class="beneficios-dogwalker--conteudo">
        <img src="images/patinha .png" alt="Patinha de Cachorro">
        <h3 class="font-1-m-b">Passeio</h3>
        <p class="font-2-xs">O dog irá adorar passear conosco</p>
      </div>
      <div class="beneficios-dogwalker--conteudo">
        <img src="images/pet-care.png" alt="Patinha de Cachorro">
        <h3 class="font-1-m-b">Educativo</h3>
        <p class="font-2-xs">Possuímos os melhores tutores</p>
      </div>
      <div class="beneficios-dogwalker--conteudo">
        <img src="images/pacote.png" alt="Patinha de Cachorro">
        <h3 class="font-1-m-b">Acompanhamento</h3>
        <p class="font-2-xs">Os melhores acessórios</p>
      </div>
      <div class="beneficios-dogwalker--conteudo">
        <img src="images/pet-insurance.png" alt="Patinha de Cachorro">
        <h3 class="font-1-m-b">Universal</h3>
        <p class="font-2-xs">Proteção Universal</p>
      </div>
    </div>
    <div class="botao-dogwalker">
      <button class="botao-secundario-laranja">Buscar Dog Walker</button>
    </div>
  </div>
</section>

<section class="beneficios2">
  <div class="container">
    <h2 class="font-1-xl">Dog Walker</h2>
    <div class="beneficios2-dogwalker">
      <div class="beneficios2-dogwalker--conteudo">
        <img src="images/patinha .png" alt="Patinha de Cachorro">
        <h3 class="font-1-m-b">Confiança e Profissionalismo</h3>
        <p class="font-2-xs">O dog irá adorar passear conosco</p>
      </div>
      <div class="beneficios2-dogwalker--conteudo">
        <img src="images/pet-care.png" alt="Patinha de Cachorro">
        <h3 class="font-1-m-b">Alto Padrão de Qualidade</h3>
        <p class="font-2-xs">Possuímos os melhores tutores</p>
      </div>
      <div class="beneficios2-dogwalker--conteudo">
        <img src="images/pacote.png" alt="Patinha de Cachorro">
        <h3 class="font-1-m-b">Indicado pelos Melhores Veterinários</h3>
        <p class="font-2-xs">Os melhores acessórios</p>
      </div>
      <div class="beneficios2-dogwalker--conteudo">
        <img src="images/pet-insurance.png" alt="Patinha de Cachorro">
        <h3 class="font-1-m-b">Segurança</h3>
        <p class="font-2-xs">Proteção Universal</p>
      </div>
    </div>
    <div class="botao-dogwalker">
      <button class="botao-secundario-laranja">Buscar Dog Walker</button>
    </div>
  </div>
</section>

<section class="container">
  <div class="sobre-dogwalker">
    <img src="images/logo.png" alt="Logo Mundo Pet">
    <div>
      <p class="font-2-xs ">Para entender o que é dog walker, vamos começar pela expressão. O termo vem do inglês, mas ganhou tanta popularidade que os brasileiros já se acostumaram com ele. “Dog”, como muitos sabem, significa cachorro, já “walker” seria algo como andador ou caminhador.Assim, dog walkers são passeadores de cães, que levam os pets para vários lugares! A prática se tornou muito comum recentemente, sobretudo em grandes cidades. Com a rotina de trabalho, trânsito e outras atividades, muitos tutores não conseguem levar seu amigo para passear todos os dias. E isso pode prejudicar a saúde e o bem-estar do cãozinho.
      </p>
    </div>
  </div>
</section>

<%- include('partials/footer') %>