<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container-form">
  <section class="formularioproduto" aria-label="Formulário">
    <fieldset class="conta-contato">
      <h2 class="font-1-xl">Adicionar Novo Endereço</h2>
      <form class="form form-cadastro-cliente" method="POST" action="">
        <div class="form-cadastro">
          <div class="form-info font-2-m-b font-1-m-b mb-3">
            <label class="form-label" for="alias">Apelido: </label>
            <input class="form-control form-nome-produto" type="text" name="alias" id="alias"  required>
            <label class="form-label" for="endereco">Endereço: </label>
            <input class="form-control form-nome-produto" type="text" name="endereco" id="endereco"  required>
            <label class="form-label" for="numero">Numero: </label>
            <input class="form-control form-nome-produto" type="text" name="numero" id="numero" required>
            <label class="form-label" for="complemento">Complemento: </label>
            <input class="form-control form-nome-produto" type="text" name="complemento" id="complemento" required>

            <label class="form-label" for="bairro">Bairro: </label>
            <input class="form-control form-nome-produto" type="text" name="bairro" id="bairro" required>
            <label class="form-label" for="cidade">Cidade: </label>
            <input class="form-control form-nome-produto" type="text" name="cidade" id="cidade" required>
            <label class="form-label" for="estado">Estado: </label>
            <input class="form-control form-nome-produto" type="text" name="estado" id="estado" required>
            <label class="form-label" for="cep">CEP: </label>
            <input class="form-control form-nome-produto" type="text" name="cep" id="cep" required>
            <label class="form-label" for="principal">Principal: </label>
            <input class="" type="checkbox" name="principal" id="principal" value="1" required>
          </div>
        </div>


        <button class="botao-contato font-1-m-b">Adicionar</button>
      </form>
  </fieldset>
  </section>

</main>

<%- include('partials/footer') %>