<%- include('partials/head') %>
<%- include('partials/header') %>


<section class="banner-primario">
  <div class="banner-caixa carousel">
    <div><img src="images/banner1.png" alt=""></div>
    <div><img src="images/banner2.png" alt=""></div>
    <div><img src="images/banner3.png" alt=""></div>

  </div>
</section>

<section class="container">
  <div class="vantagens">
    <div class="vantagens-icones">
      <img src="images/free-delivery 1.png" alt="">
      <p class="font-1-m-b">Frete Grátis</p>
    </div>
    <div class="vantagens-icones">
      <img src="images/tomando-banho 1.png" alt="">
      <p class="font-1-m-b">Banho e Tosa</p>
    </div>
    <div class="vantagens-icones">
      <img src="images/cartao-de-credito 1.png" alt="">
      <p class="font-1-m-b">Até 3X Sem Juros</p>
    </div>
    <div class="vantagens-icones">
      <img src="images/loja 1.png" alt="">
      <p class="font-1-m-b">Retire na Loja</p>
    </div>
  </div>
</section>

<section class="promocoes">
  <div class="promocoes-container container">
    <img class="promocoes-img" src="images/vitaminas-40off.png" alt="Promoção de Vitaminas e Suplementos">
    <img class="promocoes-img" src="images/Rectangle 48.png" alt="Promoção de Vitaminas e Suplementos">
    <img class="promocoes-img" src="images/Rectangle 49.png" alt="Promoção de Vitaminas e Suplementos">
    <img class="promocoes-img" src="images/Rectangle 50.png" alt="Promoção de Vitaminas e Suplementos">
  </div>
</section>

<section class="container">
  <div class="cupom_desconto">
    <p class="font-1-m-b">Você tem <span class="font-1-xl"> 10% OFF</span> na 1º compra | Insira o cupom no carrinho de compras</p>
    <img src="images/desconto10.png" alt="Cupom de desconto DESCONTO10">
  </div>
</section>

<section class="container">
  <div class="parceiros">
    <h4 class="titulo font-1-xl">Ofertas dos nossos Parceiros</h4>
    <div class="parceiros-subtitulo">
      <h4 class="font-1-m-b">Mais vendidos</h4>
      <h4 class="font-1-m-b">Promoções</h4>
    </div>
  </div>

  <div class="parceiros-produtos">
    <div class="parceiros-produtos-oferta">
      <a href="#"><img src="images/golden-especial 1.svg" alt="Ração Golden Especial"></a>
      <p class="font-2-xs">Ração Golden Especial</p>
      <p class="font-2-xs font-1-m-b">R$ 200</p>
      <button class="botao-secundario font-2-xs">Adicionar ao carrinho</button>
    </div>
    <div class="parceiros-produtos-oferta">
      <a href="#"><img src="images/barraca 1.svg" alt="Barraca de Camping"></a>
      <p class="font-2-xs">Barraca de Camping</p>
      <p class="font-2-xs font-1-m-b">R$ 1800</p>
      <button class="botao-secundario font-2-xs">Adicionar ao carrinho</button>
    </div>
    <div class="parceiros-produtos-oferta">
      <a href="#"><img src="images/golden-gatos 1.svg" alt="Ração Golden Gatos"></a>
      <p class="font-2-xs ">Ração Golden Gatos</p>
      <p class="font-2-xs font-1-m-b">R$ 399.99</p>
      <button class="botao-secundario font-2-xs">Adicionar ao carrinho</button>
    </div>
    <div class="parceiros-produtos-oferta">
      <a href="#"><img src="images/cordeiro-molho 1.svg" alt="Sache Whiskas"></a>
      <p class="font-2-xs">Ração Whiskas</p>
      <p class="font-2-xs font-1-m-b">R$ 2.99</p>
      <button class="botao-secundario font-2-xs">Adicionar ao carrinho</button>
    </div>
  </div>
</section>

<section class="container">
  <h2 class="servicos-titulo font-1-xl">Conheça os novos serviços para seu pet</h2>
  <div class="servicos">
    <div class="servicos-conteudo">
      <img src="images/banhoEhTosa.png" alt="Serviço de Banho e Tosa">
      <h3 class="font-2-xs font-1-m-b">Banho & Tosa</h3>
      <p class="font-2-xs">Os melhores serviços de banho e tosa.</p>
      <button class="botao-secundario-laranja font-2-xs">Agena online</button>
    </div>
    <div class="servicos-conteudo">
      <img src="images/servicoPetsitter.png" alt="Serviço de Petsitter">
      <h3 class="font-2-xs font-1-m-b">Pet Sitter</h3>
      <p class="font-2-xs">Serviços de Pet Sitter, o melhor do Brasil.</p>
      <button class="botao-secundario-laranja font-2-xs">Saiba mais</button>
    </div>
    <div class="servicos-conteudo">
      <img src="images/servicoHospedagem.png" alt="Serviço de Hospedagem">
      <h3 class="font-2-xs font-1-m-b">Hospedagem</h3>
      <p class="font-2-xs">As melhores hospedagens para o seu Pet.</p>
      <button class="botao-secundario-laranja font-2-xs">Saiba mais</button>
    </div>
    <div class="servicos-conteudo">
      <img src="images/servicoDeDogwalker.png" alt="Serviço de Dogwalker">
      <h3 class="font-2-xs font-1-m-b">Dog Walker</h3>
      <p class="font-2-xs">Os melhores serviços de Dog Walker do Brasil.</p>
      <button class="botao-secundario-laranja font-2-xs">Saiba mais</button>
    </div>
  </div>
</section>

<section class="container">
  <div class="lojas">
    <div class="lojas-conteudo">
      <h2 class="font-1-xl">Encontre a loja mais próxima de você.</h2>
      <p class="font-2-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in</p>
    </div>
    <img src="images/lojas-mundo-pet.png" alt="Ilustração da loja MundoPet">
  </div>
</section>


<%- include('partials/footer') %>