<%- include('partials/head') %>
<%- include('partials/header') %>

        <section class="vh-100 container">
            <div class="container-fluid h-custom">
              <div class="row d-flex justify-content-center align-items-center h-100 form-login">
                <div class="col-md-9 col-lg-6 col-xl-5 container-dog">
                  <img src="/images/cachorro-no-notebook.png  "
                    class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 bg-login">
                  <form action="/login" method="post">
          
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label font-1-s" for="email">Endereço de Email</label>
                      <input type="email" name="email" class="form-control form-control-lg font-1-s"
                        placeholder="Entre com um email válido" required/>
                    </div>
          
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label class="form-label font-1-s" for="phone">Senha</label>
                        <input type="password" name="senha" class="form-control form-control-lg font-1-s"
                        placeholder="Entre com sua senha" required/>
                    </div>
          
                    <div class="text-center text-lg-start mt-4 pt-2">
                      <button type="" class="botao-comprar font-1-s"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                      <p class="small fw-bold mt-2 pt-1 mb-0 font-1-xs">Não possui uma conta? <a href="#!"
                          class="link-danger font-1-xs">Registre-se</a></p>
                    </div>
          
                  </form>
                  <p style="color: red;"><%= mensagem %></p>
                </div>
              </div>
            </div>
          </section>

<%- include('partials/footer') %>