<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container-form">
  <script>
    function goBack() {
      window.history.back()
    }
  </script>
    <section aria-label="Formulário">
      <fieldset class="conta-contato">
        <h2 class="font-1-xl">Confirma a exclusão da Marca?</h2>
          <form class="form" action="/admin/marcas/remover/?_method=delete" method="POST">
            <input type="hidden" value="<%= marca.id %>" name="id">
            <button class="botao-contato font-1-m-b">SIM</button>
          </form>
          <button onclick="goBack()" class="botao-contato font-1-m-b"> &#129044; Voltar</button>
      </fieldset>
        </div>
    </section>


<%- include('partials/footer') %>