<%- include('partials/head') %>
<%- include('patials/header') %>

<section>
    <div>
        <img src="images/racaogolden" alt="">
    </div>
    <div>
        <h2>Ração Golden Special para Cães Adultos Frango e Carne 15 kg</h2>
    </div>
    <div>
        <h3>Informações:
            Indicada para cães adultos;
            Blend de proteínas;
            Músculos mais fortes;
            Redução do odor das fezes;
            Mais rendimento por quilo;
            Saúde e vitalidade;
            Livre de aromatizantes e corantes artificiais.
        </h3>
    </div>
    <div>
        <button>Adicionar ao carrinho</button>
    </div>
    <div>
        Ração Golden Special para Cães Adultos Frango e Carne

Preparada com nobres ingredientes, a Ração Golden Special para Cães Adultos Frango e Carne é o alimento ideal para manter o seu cão saudável. Além de render mais por quilograma, ela é livre de corantes e aromatizantes artificiais, proporcionando uma dieta mais balanceada.

A Ração Golden Special também ajuda a eliminar o odor das fezes, graças à sua fórmula que é rica em vitaminas e minerais. Isso faz com que a musculatura do animal sempre esteja fortalecida, o que consequentemente torna o cão mais ativo e menos propenso a doenças.

Produzida pela Premier Pet – que é referência no mercado pet -, a Ração Golden Special possui um delicioso sabor de frango e carne. Esse blend de proteínas satisfaz amplamente o paladar dos cães.

Ingredientes

Farinha de vísceras de frango, farinha de carne e ossos de bovino, grão de milho*, quirera de arroz, polpa desidratada de beterraba, farelo de arroz desengordurado, gordura de frango, cloreto de potássio, cloreto de sódio, ácido propiônico, bentonita, BHA (Butilhidroxianisol), BHT (Butilhidroxitolueno), extrato de yucca (0,04%), hidrolisado de fígado de aves e suíno, acetato de DL-alfa tocoferol, acetato de retinol, ácido ascórbico monofosfato, ácido fólico, ácido pantotênico, biotina, bissulfito de menadiona nicotinamida, cianocobalamina, cloreto de colina, colecalciferol, niacina (ácido nicotínico), piridoxina, riboflavina, tiamina, iodeto de cálcio, selenometionina hidroxi análoga, sulfato de cobre pentahidratado, sulfato de ferro, sulfato de manganês, sulfato de zinco monohidratado.
*Contém milho transgênico (espécies doadoras de gene: Bacillus thuringiensis, Agrobacterium tumefaciens, Streptomyces viridochromogenes, Zea mays).
    </div>
</section>

<%- include('partials/footer')