<%- include('partials/head') %>
<%- include('partials/header') %>

<section class="container">
    <div>
        <img src="../public/images/imagemDefault.png" alt="">
    </div>
    <div>
        <h2 class="titulo font-1-xs">produto.nome</h2>
        <h2> produto.categoria | produto.marca</h2>
    </div>
    <div>
        <p class="font-1-s">produto.descricao
        </p>
    </div>
    <div>
        <h2 class="font-2-xs font-1-m-b">produto.preco</h2>
        <button class="botao-comprar font-2-xs">Adicionar ao carrinho</button>
    </div>
</section>

<%- include('partials/footer')%>