<%- include('partials/head') %>
<%- include('patials/header') %>

<section>
    <div>
        <img src="images/racaogolden" alt="">
    </div>
    <div>
        <h2>Ração Golden Special para Cães Adultos Frango e Carne 15 kg</h2>
    </div>
    <div>
        <h3>Informações:
            Indicada para cães adultos;
            Blend de proteínas;
            Músculos mais fortes;
            Redução do odor das fezes;
            Mais rendimento por quilo;
            Saúde e vitalidade;
            Livre de aromatizantes e corantes artificiais.
        </h3>
    </div>
</section>

<%- include('partials/footer')