<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container-form">
    <section aria-label="Formulário">
      <fieldset class="conta-formulario">
      <h2 class="font-1-xl">Crie sua conta</h2>
        <form class="form" action="./formulario-de-registro.html">
          <div class="form-info font-2-m-b font-1-m-b">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" placeholder="Nome">
          </div>
          <div class="form-info font-2-m-b font-1-m-b">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="you@email.com">
          </div>
          <div class="form-info font-2-m-b font-1-m-b">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" placeholder="Senha">
          </div>
          <button class="botao-formulario font-1-m-b">Criar conta</button>
        </form>
      </fieldset>
    </section>
  </main>

<%- include('partials/footer') %>