.bg-form {
    margin-top: 2rem;
    background-color: var(--second-color);
    border-radius: 8px;
    text-align: justify;
    width: 1600px;
    margin-left: -400px;
}

@media (max-width: 425px) {
    .bg-form {
        margin-left: initial;
        width: initial;
        display: flex;
        flex-direction: column;
    }
}