.container-form {
  max-width: 800px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.conta-formulario {
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  padding-bottom: 9.5rem;
}

.conta-formulario h2 {
  margin-top: 1rem;
  color: var(--primary-color);
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form-info-first {
  margin-bottom: 0px !important;
}

.form-info {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.form input[type="text"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.form input[type="tel"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.form input[type="email"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.form input[type="password"] {
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.form-nome-produto {
  width: 500px;
}

.form input[type="textarea"] {
  width: 650px;
  height: 120px !important;
}

.form-check {
  display: flex!important;
  justify-content: flex-start;
  align-items: center;
}
.form-categoria {
  margin-right: 4rem;
}

.botao-formulario {
  background-color: var(--third-color);
  color: var(--primary-color);
  
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  padding: .6rem 4rem .6rem 4rem;

  text-align: center;

  margin-bottom: 2rem;

  cursor: pointer;
}

.botao-formulario:hover {
  background-color: #FFFFFF;
  color: var(--primary-color);

  transition: 300ms;
}

@media (max-width: 425px) {
  .form {
    display: initial;
    flex-wrap: initial;
    justify-content: initial;
    align-items: initial;
    gap: initial;
  }

  .formulario-cadastro {
    margin: 0px !important;
  }

  .form-nome-produto {
    width: initial;
  }
  
  .form input[type="textarea"] {
    width: initial;
    height: initial;
  }
  
  .form-categoria {
    margin-right: initial;
  }
}