.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.botao-secundario {
  color: var(--primary-color-background-button);
  background-color: #FFFFFF;
  
  border-radius: 4px;
  border: 1px solid var(--primary-color-background-button);
  padding: .8rem 1rem .8rem 1rem;

  text-align: center;

  cursor: pointer;
}

.botao-secundario:hover {
  background-color: var(--primary-color-background-button);
  color: #FFFFFF;

  transition: 300ms;
}

.botao-secundario-laranja {
  background-color: var(--primary-color-background-button);
  color: #FFFFFF;
  
  border-radius: 4px;
  border: 1px solid var(--primary-color-background-button);
  padding: .6rem 1rem .6rem 1rem;

  text-align: center;

  cursor: pointer;
}

.botao-secundario-laranja:hover {
  background-color: #FFFFFF;
  color: var(--primary-color-background-button);

  transition: 300ms;
}


.botao-comprar-produto {
  background-color: var(--primary-color-background-button);
  color: #FFFFFF;
  
  border-radius: 4px;
  border: 1px solid var(--primary-color-background-button);
  padding: .8rem 4rem .8rem 4rem;

  text-align: center;

  cursor: pointer;
}

.botao-comprar-produto:hover {
  background-color: #FFFFFF;
  color: var(--primary-color-background-button);

  transition: 300ms;
}


.botao-comprar {
  background-color: var(--primary-color-background-button);
  color: #FFFFFF;
  
  border-radius: 4px;
  border: 1px solid var(--primary-color-background-button);
  padding: .8rem 1rem .8rem 1rem;

  text-align: center;

  cursor: pointer;
}

.botao-comprar:hover {
  background-color: #FFFFFF;
  color: var(--primary-color-background-button);

  transition: 300ms;
}