.produto-carrinho {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.produto-detalhe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}