.form-login {
    margin-top: 6rem;
}
  
.bg-login {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(112,155,175,1) 0%, rgba(97,171,210,1) 100%);
    padding: 30px;
    border-radius: 6px;
}