bory{
    background-color: #1b1f27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.area-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #67B8E4;
    width: 355px;
    height: 320px;
    padding: 35px;
    border-radius: 10px;
}

.login form{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.login input{
    margin-top: 10px;
  background-color: white;
  padding-left: 10px;
  color: #423535;
  border: none;
  height: 45px;
  outline: none;
  border-radius: 8px; 
}

.login img{
    width: 90px;
    height: auto;
}
.input::placeholder{
    color: aliceblue;
    font-size: 14px;
}
form[type="submit"]{
    display: block;
    background-color: #757373;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
p{
    color: #423535;
}
a{
    color: #012F46;
    text-decoration: none;
    margin-left: 10px;
}
.btn-entrar{
    cursor: pointer;
    width: 90%;
    transition: width .5s;
    margin: 0 auto;
}

.btn-entrar:hover{
    background-color: #FF9100;
    width: 100%;
}