.container-form2 {
    background-color: var(--second-color);
    border-radius: 0.8rem;
    width: 600px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto; 
}

.titulo {
    color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    padding-top: 2rem;
}

.menu-admin  {
    color: rgb(255, 255, 255);
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-bottom: 2rem;
    margin: 1rem;
}

.menu-admin a {
    background-color: var(--second-color-background);
    padding: 10px;
    border-radius: 6px;
}

.menu-admin a:hover {
    background-color: var(--primary-color-subtitle);
}

@media (max-width: 425px) {
    .container-form2 {
        max-width: max-content;
        gap: 1rem;
    }
    .container-form2 ul {
        gap: 1rem;
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .container-form2 {
        max-width: max-content;
        gap: 1rem;
    }
    .container-form2 ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;   
    }
}