.cupom_desconto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: var(--second-color-background);

  padding: 1rem;
  border-radius: 8px;

  margin-top: 6rem;
}

.cupom_desconto p {
  color: #FFFFFF;
}

@media (max-width: 450px) {
  .cupom_desconto p {
    font-size: 0.75rem;
  }

  .cupom_desconto span {
    font-size: 0.75rem;
  }

  .cupom_desconto img {
    width: 50%;
  }
}