.footer {
  background-color: var(--second-color-background);
}

.footer-conteudo {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  
  flex-wrap: wrap;

  margin-top: 6rem;
}

.footer-links h3{
  margin-top: 3rem;
  margin-bottom: 4rem;

  color: #FFFFFF;
}

.footer-links ul li {
  margin-bottom: 2rem;

  color: #FFFFFF;
}

.footer-redes {
  background-color: var(--second-color);
  border-radius: 6px;

  margin-top: 2rem;
  margin-bottom: 2rem;
  
  padding: .3rem;
}

.footer-redes h3{
  margin-top: 1rem;
  margin-bottom: 4rem;

  color: #FFFFFF;
}

.footer-redes ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  color: #FFFFFF;
}

.footer-redes p {  
  text-align: center;
  margin-top: 1rem;

  color: #FFFFFF;
}

.footer-aplicativo {
  padding-left: 4rem;
}


/* DIREITOS AUTORAIS */