.footer {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 11%, rgba(97,171,210,1) 100%, rgba(1,47,69,1) 100%);
}

.footer-conteudo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  flex-wrap: nowrap;
  margin-top: 1rem;
  flex-direction: row;
  align-content: center;
}

.footer-links {
  display: flex;
}

.footer-links ul li {
  margin-bottom: 0.2rem;

  color: #FFFFFF;
}

.footer-redes {
  background-color: var(--second-color);
  border-radius: 6px;
  margin-top: 0.2rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-redes p {
  color: #FFFFFF;
}

.footer-redes ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  color: #FFFFFF;
}

.footer-redes p {  
  text-align: center;
  margin-top: 1rem;

  color: #FFFFFF;
}

.footer-aplicativo {
  padding-left: 4rem;
}

.footer-direitos {
  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

@media(max-width: 425px) {
  .footer-conteudo {
    gap: 0px; 
  }
}