.nav-menu {
  background-color: var(--primary-color);
  padding: 24px 20px 24px 20px;
}

.bg-menu {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 11%, rgba(97,171,210,1) 100%, rgba(1,47,69,1) 100%);
}

.btn-bg {
  background-color: var(--second-color);
  color: white;
  border-radius: 1px solid white;
}
.btn-bg:hover {
  background-color: var(--primary-color-background-button);
}

.nav-menu--caixa {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu--icones {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-menu--texto a, h3 {
  color: white;
}

.nav-menu_texto__submenu {
  color: white;
}
.nav-menu_texto__submenu:hover{
  color: var(--second-color);
}

.nav-clicado.ativo{
  color: var(--primary-color-subtitle)
}

.form-busca-pet {
  width: 300px;
}

@media (max-width: 450px) {
  .nav-menu--caixa{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .logo {
    width: 100px;
  }

  .nav-menu--icones img{
    width: 20px;
  }

  .nav-menu--icones h3 {
    display: none;
  }

  .nav-menu--texto {
    display: none;
  }

  .imagem-menu {
    margin-right: 2rem;
  }
}

@media (max-width: 425px) {
  .navbar-brand img{
    width: 100px;
  }
  .d-flex {
    display: none!important;
  }
}

@media (max-width: 768px) {
  .navbar-brand img{
    width: 100px;
  } 
  .d-flex {
    display: none!important;
  }
  .vantagens {
    gap: 1rem;
  }

  .vantagens p {
    font-size: 14px!important;
  }

  .parceiros-produtos {
    justify-content: space-evenly;
    gap: 4rem!important;
  }
}

@media(max-width: 1024px) {
  .btn-mobile {
    margin-left: 1rem;
  }

  .nav-clicado,
  .input-mobile {
    font-size: 14px;
  }
}

@media(min-width: 1440px) {
  .container-nav-mobile {
    padding-left: 6.25rem;
  }
}