*{
  padding: 0;
  margin: 0;
} */
:root {
  --secundary: #67B8E5;
  --primary: #012F46;
  --terciaria: #757373;
  --light: #FFFFFF;
}
.beneficios {
  padding: 1rem;
  margin-top: 6rem;
  background-color: rgb(235, 235, 235);
}

.beneficios2 {
  padding: 1rem;
  margin-top: 6rem;
  background-color: var(--secundary);
  color: var(--light);
}

.beneficios2-dogwalker--conteudo {
  color: var(--light);
}

.sobre-dogwalker {
  padding: 1rem;
  margin-top: 25px;
}

.beneficios2-dogwalker {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.beneficios2-dogwalker--conteudo h3 {
  color: var(--primary);
  margin-top: 1rem;
  color: var(--light);
}

.beneficios2-dogwalker--conteudo p {
  color: var(--primary);
  margin-top: 1rem;
}

.beneficios2 h2 {
  color: #FFFFFF;
}

.beneficios h2 {
  color: #FFFFFF;
}

.beneficios-dogwalker {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.beneficios-dogwalker--conteudo h3 {
  color: #6b6b6b;
  margin-top: 1rem;
}

.beneficios-dogwalker--conteudo p {
  color: #8f8f8f;
  margin-top: 1rem;
}

.botao-dogwalker {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.font-1-xl {
  padding: 10px;
  margin-bottom: 20px;

}