*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
}



.caixacinza {
  background-color: rgb(243, 242, 242);
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  position: relative;
  bottom: 100px;
}


.font-2-s{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  justify-content: space-around; 
  gap: 10px;
  padding-bottom: 2rem; 
}

.font-2-s >div{
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}
.botao{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}