.beneficios2 {
  margin-top: 6rem;
  padding: 1rem;
  background-color: var(--second-color);
}

.beneficios2 h2 { 
  color: #FFFFFF;
 }
 
.beneficios2-dogwalker {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 1rem;

  flex-wrap: wrap;

  margin-top: 4rem;
}
 
.beneficios2-dogwalker--conteudo h3{
 color: #FFFFFF;

  margin-top: 1rem;
}
 
.beneficios2-dogwalker--conteudo p{
 color: #FFFFFF;

  margin-top: 1rem;
}
 
.botao-dogwalker {
  display: flex;
  justify-content: center;

  margin-top: 3rem;
}